# Ignore everything
*
*/**

# Whitelist needed files
!README.md
!LICENSE
!package.json

!client/out/extension.js

!server/out/**/*.js
!server/out/zetasql/*
!server/out/protos/**/*.proto
!server/node_modules/**/*
