# Ignore everything
*
*/**

# Whitelist needed files
!README.md
!CHANGELOG.md
!LICENSE
!package.json

!images/Icon.png

!client/out/extension.js
!client/out/extension.js.map

!server/out/**/*.js
!server/out/**/*.js.map
!server/out/zetasql/**/*
!server/out/snowflake/**/*
!server/dbt_core.py
